{% extends 'base.html' %}

{% block title %}InternetSpeed{% endblock %}
{% block content %}
<div class="center">
	<div class="container">
		<nav>
			<div class="cat">
				<button id="download">Download</button>
				<button id="upload" class="upload">Upload</button>
				<button id="ping" class="ping">Ping</button>
			</div>
		</nav>
		<div class="diagram" id="diagram">
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
			<div class="progress"></div>
		</div>
		<p class="pingview" id="pingview"><span class="infodot"></span><span id="pingtext">monitor online</span></p>
		<div id="info" class="info" style="opacity: 0;">
			<p id="info-value"></p>
			<p id="info-timestamp"></p>
		</div>
	</div>
</div>
<div id="popup" class="popupbg center">
	<div id="popup-container" class="container popup">
		<div class="content">
			<h1>Info</h1>
			<p id="popup_timestamp" class="timestamp">2024-09-19 08:49:34</p>
			<div class="progress">
				<div class="bar" id="popup_download_bar" style="--h: 40%"><span>Download</span><p id="popup_download"></p></div>
			</div>
			<div class="progress upload">
				<div class="bar" id="popup_upload_bar" style="--h: 40%"><span>Upload</span><p id="popup_upload"></p></div>
			</div>
			<div class="progress ping">
				<div class="bar light" id="popup_upload_bar" style="--h: 100%"><span>Ping</span><p id="popup_ping"></p></div>
			</div>
			<div class="server">
				<a href="" id="popup_server_host" target="_blank"><h2 id="popup_server_name"></h2></a>
				<p>hosted by <span id="popup_server_company"></span></p>
				<p>in <span id="popup_server_country"></span></p>
			</div>
			<nav>
				<button id="popup-back" class="back">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
				</button>
				<button id="popup-forward" class="forward">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
				</button>
			</nav>
		</div>
		<div class="mapsbg">
			<iframe id="popup_server_maps" src="" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
